.banner {max-height: 400px;overflow: hidden;}

.thankYou {
    padding: 50px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.thankYou h1 {
    font-size:40px; margin-bottom: 15px;
    text-transform: uppercase;
}
.thankYou p{letter-spacing: 3px; margin:30px 0;}

.thankYou a {
    background: #231f20;
    padding: 20px 50px;
    color: #fff;
    font-style: italic;
    display: inline-block;
    transform: skew(-10deg);
    border-radius: 10px;
}
.thankYou a:hover{background: #000;}

@media screen and (max-width:768px) {
    .thankYou h1{ font-size: 30px; margin-bottom: 10px;}
    .thankYou img{ max-width: 150px;}
    .thankYou p{ margin: 20px 0;}
    .thankYou a { padding:15px 25px;}
}